html,body {
  height: 100%;
}
body {
	font-family: 'Open Sans', sans-serif;	
	background: linear-gradient(90deg, #ffffff 50%, #f4b93d 50%);
}

@media (max-width: 767px) {
  body {
    background: #fff;
  }
}

.color-background{
	background-image: -webkit-linear-gradient(#f4b93d, #f4b93d);
	background-image: -o-linear-gradient(#f4b93d, #f4b93d);
	background-image: linear-gradient(#f4b93d, #f4b93d);
}

h1 {
	font-weight: 700;
	color: #4a4a4a;
}

p {
	font-weight: 400;
}

.text-light {
	font-weight: 300;
}

.w-button {
    display: inline-block;
    padding: 9px 15px;
    background-color: #3898EC;
    color: white;
    border: 0;
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;
    border-radius: 0;
}


.contact-button {
  padding: 15px 65px;
  border-radius: 100px;
  background-color: #3b80fe;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  font-family: 'Museosans 100', sans-serif;
  font-size: 16px;
}

.contact-button:hover {
  background-color: #1660e7;
}

.link {
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
    color: #3b80fe;
    text-decoration: none;
}

.link:hover {
    opacity: 0.66;
    text-decoration: none;
}

.w-button:hover {
    outline: 0;
    color: white;
    text-decoration: none;
}

.social a {
	color: #4a4a4a;
	margin-right: 20px;
}

.social a img {
	vertical-align: bottom;
}

a:hover i.fa-linkedin          	{ color: #0077B5; }
a:hover i.fa-twitter          	{ color: #1da1f2; }
a:hover i.fa-medium-m			{ color: #00ab6c; }


#inlineEmail {
    background: transparent;
    color: #4a4a4a;
    border: none;
    border-bottom: 1px solid #4a4a4a;
    border-radius: 0px;
    outline:none;
    box-shadow:none;
}

::placeholder { /* Most modern browsers support this now. */
   color:    #4a4a4a;
}